* {
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: #f7f7f7;
  padding: 0;
  margin: 0;
}

.fi {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.fi-sm {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1418px;
}

.relative {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__align-center {
  align-items: center;
}

.row__center {
  justify-content: center;
}

.row__right {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.column__right {
  align-items: flex-end;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.h-100 {
  height: 100%;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 120px;
}

.background-radial-gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: -260px;
  height: 780px;
  z-index: -1;
  border-radius: 1200px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(103, 50, 217, 0.8) 0%, rgba(13, 13, 13, 0) 100%);
  backdrop-filter: blur(115px);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 8px 32px;
  gap: 8px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  color: #f7f7f7;
  cursor: pointer;
}

.button__primary {
  font-weight: 700;
  padding: 8px 32px;
  gap: 8px;
  border-radius: 24px;
  background: linear-gradient(103.81deg, #f23db3 0%, #6732d9 50.15%, #6393f2 100%);
}

.button__primary:hover {
  box-shadow: 0px 16px 40px 0px #6732d999;
}

.button__secondary {
  text-wrap: nowrap;
  color: #0d0d0d;
  background: #f7f7f7;

  border-radius: 24px;
  border-style: solid;
  border-width: 4px;

  border-image-source: linear-gradient(103.81deg, #f23db3 0%, #6732d9 50.15%, #6393f2 100%);
}

.button__ghost {
  border: none;
  background: none;
  padding: 8px 16px;
}

.button__rounded {
  background: #f7f7f726;
  border: 1px solid #f7f7f7;
  border-radius: 24px;
  padding: 8px 8px 8px 24px;
  height: 56px;
  gap: 16px;
}

.header {
  padding: 0px 80px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 0px 80px 80px;
  height: 1000px;
  overflow: hidden;
  background: linear-gradient(103.81deg, #f23db3 0%, #6732d9 50.15%, #6393f2 100%);
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 187px 0px;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 187px;
  max-width: 1048px;
  gap: 40px;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  padding: 72px 187px;
  gap: 10px;

  border-radius: 0px 0px 80px 80px;
  backdrop-filter: blur(100px);
  background: #f7f7f726;
}

.header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 600 !important;
}

.text-headline-1 {
  font-family: "Unbounded", serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 69.44px;
}

.text-headline-2 {
  font-family: "Unbounded", serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 49.6px;
}

.text-headline-3 {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
}

.text-body-1 {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.text-body-2 {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.text-body-3 {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-right {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #915eff;
}

.divider {
  border-bottom: 1px solid #f7f7f7;
  width: 100%;
}

.divider--vertical {
  border-left: 1px solid #f7f7f7;
  height: 100%;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f7f7f726;
  border: 1px solid #f7f7f7;
  border-radius: 24px;
  padding: 8px 12px;
  height: 56px;
  gap: 10px;
}

.nav__link {
  padding: 8px 24px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-decoration: none;
  color: #f7f7f7;
}

.header-round-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f7f7f726;
  border: 1px solid #f7f7f7;
  border-radius: 24px;
  padding: 8px 12px;
  height: 56px;
  gap: 8px;
}

.advantage {
  display: flex;
  flex-direction: column;
  padding: 0px 256px;
  gap: 8px;
}

.advantage__title {
  display: flex;
  justify-content: flex-end;
}

.advantage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 10px;
}

.advantage-item__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantage-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 32px 32px 180px;
  gap: 10px;
  border-radius: 40px;
  background: #915eff;
  width: 1169px;
  overflow: hidden;
}

.advantage-item:nth-child(even) {
  margin-left: 240px;
}

.advantage-item__image-wrapper {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 196px;
  height: 196px;
}

.advantage-item__image {
  width: 196px;
  height: 196px;
  object-fit: scale-down;
}

.advantage-item__image-blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #915eff90 45.09%, #915eff 90%);
}

.advantage-item__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantage-action {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.calculate {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.calculate__title {
  display: flex;
  justify-content: flex-end;
  padding: 10px 256px 10px 10px;
  gap: 10px;
}

.calculate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 256px 80px 256px;
  gap: 10px;
  border-radius: 80px;
  border: 2px solid #6732d9;
  background: linear-gradient(180deg, #0d0d0d 0%, #6732d9 100%);
}

.calculate__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  gap: 40px;
  flex-wrap: wrap;
}

.calculate__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.calculate__pill {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 16px;
  border-radius: 24px;
  background: #6732d9;
}

.calculate__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.calculate__cost {
  border-bottom: 2px solid #f7f7f7;
}

.calculate__note {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.calculate__note-description {
  max-width: 712px;
}

.privilege {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.privilege__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.privilege__note {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  gap: 32px;
  border-radius: 40px;
  background: #271351;
}

.privilege__note-pill {
  padding: 32px;
  gap: 10px;
  border-radius: 40px;
  background: #6732d9;
  box-shadow: 0px 35px 70px 0px #6732d966;
}

.privilege__arrow-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 600px;
}

.privilege__top-change {
  position: absolute;
  right: 0;
  top: -48px;
}

.privilege__mark {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 6px;
  border-radius: 40px;
  background: linear-gradient(103.81deg, #f23db3 0%, #6732d9 50.15%, #6393f2 100%);
}

.privilege__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.privilege__card {
  display: flex;
  flex-direction: column;
  width: 568px;
  padding: 32px;
  gap: 10px;
  border-radius: 40px;
}

.privilege__card--primary {
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.privilege__card--outline {
  border: 1px solid #6732d9;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.experience__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 32px;
}

.experience__panel-list {
  display: flex;
  flex-direction: row;
  width: 808px;
  gap: 24px;
}

.experience__panel-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experience__panel-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 24px;
}

.experience__panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px 24px 16px 16px;
  gap: 24px;
  border-radius: 40px;
  background: #271351;
}

.experience__icon {
  width: 88px;
  height: 88px;
  padding: 16px;
  border-radius: 24px;
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.experience__general-panel {
  display: flex;
  flex-direction: column;
  width: 568px;
  padding: 48px;
  gap: 24px;
  border-radius: 40px;
  background: linear-gradient(103.81deg, #f23db3 0%, #6732d9 50.15%, #6393f2 100%);
  box-shadow: 0px 30px 60px 0px #6732d933;
}

.experience__general-panel-action {
  display: flex;
  justify-content: end;
  padding-top: 40px;
}

.audience {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.audience__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}

.audience__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px;
  gap: 16px;
  border-radius: 24px;
  background: radial-gradient(84.27% 84.27% at 100% 106.91%, #6732d9 0%, #1f1f1f 100%);
}

.audience__card-image {
  width: 208px;
  height: 208px;
}

.warning,
.warning__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.warning__content {
  gap: 40px;
  text-align: center;
}

.whom__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #271351;
  border-radius: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.whom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.whom__title {
  display: flex;
  justify-content: flex-start;
}

.whom__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: 1418px;
}

.whom__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.whom__card {
  display: flex;
  padding: 32px 56px;
  gap: 10px;
  border-radius: 40px;
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.course-program {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.course-program__card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  border-radius: 60px;
  background: radial-gradient(100% 116.67% at 0% 100%, #5424bd 0%, #1f1f1f 70.04%);
}

.course-program__pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 6px;
  border-radius: 40px;
  width: fit-content;
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.tariff {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.tariff__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 40px 24px;
  border-radius: 24px;
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.tariff__card-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 16px;
}

.tariff__card-list-item::marker {
  font-size: 2em;
  padding-top: 6px;
  padding-right: 16px;
  color: #271351;
}

.students-result {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1275px;
}

.students-result__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.students-result__card-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.students-result__card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 8px;
  border-radius: 24px;
  background: linear-gradient(96.85deg, #915eff 0%, #6732d9 100%);
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 1418px;
}

.answer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1048px;
}

.answer__card {
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
  gap: 24px;
  border-radius: 40px;
  background: radial-gradient(100% 116.67% at 0% 100%, #5424bd 0%, #1f1f1f 70.04%);
}

.answer__card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.answer__card-description {
  max-width: 770px;
}
